.calculator-container {
  padding: 30px 20px;
  background: #ffffff;
  border: 1px solid #e9effa;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 8fr 3.2fr;
  grid-gap: 28px;
}
.calculator {
  padding-top: 20px;
  padding-bottom: 44px;
}
.block-help-mobile {
  display: none !important;
}
.calculator-title {
  @include fontStyle(24px, 600, #000);
  line-height: 32px;
  margin-bottom: 24px;
}
.calculator-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.calculator-info {
  margin-top: 14px;
  background: #ffffff;
  border: 1.5px solid #ecf3ff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .calculator-info-body {
    padding: 24px;
    padding-bottom: 0;
  }
  .calculator-info-items {
    display: grid;
    grid-template-columns: 9fr 12fr 1fr;
    grid-gap: 10px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ecf3ff;
    .calculator-save-btn,
    .calculator-cancel-btn {
      @include fontStyle(14px, 400, #fff);
      padding: 6px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    .calculator-cancel-btn {
      color: #008aff;
    }
    .calculator-save-btn {
      background-color: #008aff;
    }
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
    .edit-btn {
      cursor: pointer;
    }
    span {
      @include fontStyle(14px, 400, #868686);
      line-height: 20px;
      display: flex;
      align-items: center;
      .ant-btn {
        margin-left: 8px;
      }
    }
    p {
      @include fontStyle(14px, 400, $dark-blue);
      line-height: 20px;
      margin-bottom: 0;
      cursor: pointer;
    }
    .ant-btn {
      border: none;
      padding: 0;
      height: initial !important;
    }
    .items-checkbox {
      .ant-radio-wrapper {
        display: flex;
      }
    }
  }
  .calculator-info-footer {
    padding: 24px;
    background: #f7fafc;
  }
  .calculator-footer-items {
    display: grid;

    grid-template-columns: 9fr 12fr 1fr;
    grid-gap: 10px;
    span {
      @include fontStyle(14px, 400, #868686);
      line-height: 20px;
      display: flex;
      align-items: center;
      .ant-btn {
        margin-left: 8px;
      }
    }
    p {
      @include fontStyle(14px, 400, #868686);
      line-height: 20px;
    }
    h3 {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      display: flex;
      align-items: center;
      background: linear-gradient(90deg, #008aff 0%, #005ba8 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    .ant-btn {
      border: none;
      padding: 0;
      height: initial !important;
    }
    .items-checkbox {
      .ant-radio-wrapper {
        display: flex;
      }
    }
  }
}
.close_edit {
  position: absolute;
  top: -6px !important;
  cursor: pointer;
  right: -6px !important;
  border-radius: 50%;
  z-index: 100;
  background: #fff;
  border: 1px solid #dfdfdf;
  img {
    width: 18px;
  }
}
.edit_input {
  position: relative;
  display: flex;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 4;

  input {
    background: #f4f8ff;
    border: 1px solid #d2dbec;
    border-radius: 6px;
    width: 100%;
    padding: 6px 13px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #024e90;
    &:focus {
      outline: none;
    }
  }

  
}
.edit_select {
  position: relative;
  display: flex;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 5;
  input {
    background: transparent;
    border: none;

    width: 100%;
    // padding: 6px 13px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #024e90;
    &:focus {
      outline: none;
    }
  }
  .el-select {
    background: #f4f8ff;
    border: 1px solid #d2dbec;
    border-radius: 6px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
  span {
    position: absolute;
    right: 0;
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
      path {
        stroke: #9a999b;
      }
    }
  }
}
.ant-tooltip-inner {
  @include fontStyle(12px, 400, #000);
  line-height: 16px;
  color: #000 !important;
  background-color: rgb(237, 242, 247) !important;
  border: 1px solid #d2dbec;
}

.block-help {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  width: 60%;
  cursor: pointer;
  p {
    @include fontStyle(13px, 300, #000);
    line-height: 150%;
  }
}
.contact-us {
  padding: 18px 25px;
  display: inline-flex;
  grid-template-columns: auto auto;
  background: linear-gradient(90deg, #008aff 0%, #005ba8 100%);
  border-radius: 14px;
  .contact-us-svg {
    display: inline;
    margin-right: 26px;
  }
  .contact-us-body {
    h4 {
      @include fontStyle(13px, 700, #ffffff);
      line-height: 150%;
      margin-bottom: 4px;
    }
    p {
      @include fontStyle(12px, 400, #ffffff);
      line-height: 150%;
      margin-bottom: 0;
    }
  }
}
.step-title {
  @include fontStyle(24px, 600, $dark-blue);
  line-height: 32px;
  margin-bottom: 0;
}
.tariff-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
}
.tariff-info-text {
  @include fontStyle(16px, 400, #0070ce);
  line-height: 20px;
  margin-bottom: 14px;
  svg {
    margin-right: 7.6px;
  }
}
.included-tariff {
  padding: 20px;
  background: #f4f8ff;
  border-radius: 14px;
  margin-top: 37px;
}
@media (max-width: 992px) {
  .calculator-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .calculator-container {
    padding: 30px 20px;
    background: #ffffff;
    border: 1px solid #e9effa;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 28px;
  }
  .block-help {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .calculator-container {
    grid-template-columns: 1fr;
    grid-gap: 28px;
  }
  .block-help {
    width: 100%;
  }

  .block-help-web {
    display: none;
  }
  .block-help-mobile {
    display: flex !important;
  }
}
@media (max-width: 576px) {
  .calculator-title {
    @include fontStyle(18px, 600, $dark-blue);
    line-height: 24px;
    margin-bottom: 16px;
  }
  .block-help {
    margin-top: 28px;
    p {
      @include fontStyle(12px, 300, #000);
    }
  }
  .step-title {
    @include fontStyle(18px, 600, $dark-blue);
    line-height: 24px;
    margin-bottom: 0;
  }
  .contact-us {
    padding: 16px;
    display: flex;
    background: linear-gradient(90deg, #008aff 0%, #005ba8 100%);
    border-radius: 14px;
    .contact-us-svg {
      display: flex;
      align-items: center;
      margin-right: 8px;
      svg {
        width: 32px;
        height: 32px;
      }
    }
    .contact-us-body {
      h4 {
        @include fontStyle(12px, 700, #ffffff);
        line-height: 14px;
        margin-bottom: 4px;
      }
      p {
        @include fontStyle(11px, 400, #ffffff);
        line-height: 12px;
        margin-bottom: 0;
      }
    }
  }
  .steps-action {
    padding-top: 0 !important;
    margin-top: 24px;
    .form-btn {
      width: 100%;
    }
  }
  .included-tariff {
    padding: 16px;
    border-radius: 6px;
    margin-top: 24px;
  }
  .tariff-info-text {
    @include fontStyle(14px, 400, #0070ce);
    line-height: 16px;
    svg {
      margin-right: 7.6px;
    }
  }
  .tariff-info-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 24px;
  }
}
